body {
    font-family: 'Public Sans', sans-serif;
    background-color: #E8E6E3;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: left;
    padding: 20px;
    background-color: #E8E6E3;
    width: 700px;
    max-height: 80vh; 
    overflow-y: auto;
    /* border: 1px solid #ddd;
    border-radius: 10px; */
}

h1 {
    font-family: 'Fraunces', serif;
    font-size: 24px;
    font-size: 30px;
    color: #36211B;
    text-align: center;
}

.verse {
    font-size: 20px;
    margin-top: 20px;
}
